:root{
	--bg: black;
	--font-color: white;
	--box-shadow: lightgray;
}

body{
	display: grid;
	height: 100vh;
	align-content: center;
	justify-content: center;
	background: var(--bg);
	color: var(--font-color);
}

button{
	height: 10vh;
	width: 20vw;
	border: 1px solid var(--font-color);
	border-radius: 0.25rem;
	background: var(--bg);
	color: var(--font-color);
	box-shadow: 2px 2px 2px var(--box-shadow);
}
